@charset "UTF-8";
/*variables couleurs

	color-1: #9356DC
						font .method__step-btn:hover i
						background .method__number
						backround (gradient) .presentation__btn

	color-2: #FF79DA
						background .presentation__btn (Old browsers)
						backround (gradient) .presentation__btn
	color-3 : #99E2D0
						background .card__new

	color-4 : white
						background header
								   .method
								   .card
						font .presentation__btn
							 .method__number
							 footer
							 .footer__title
							 .footer__list__element a
						
 	color-5 : black
						font .logo
							 .search__city
							 .restaurant__boxes__card a
						font border .card__heart i

	color-6 : hsl(0, 0%, 50%)

						font .presentation__text
							 .method i

	color-7 : hsl(0, 0%, 96%)

						background .presentation
								   .method__step-btn
								   .restaurants

	color-8 : hsl(0, 0%, 92%)

						background .search
								   .search__city

	$color-9:hsla(0, 0%, 30%, 0.9)

						box-shadow .presentation__btn
									.method__step-btn
									.card
	$color-10:hsla(0, 0%, 30%, 0.9)

						box-shadow .presentation__btn:hover

	$color-11:hsl(267, 66%, 95%)

						background &:hover (.plat)

	$color-12:hsl(165, 56%, 35%)

						font .card__new

	$color-13:hsl(0, 0%, 30%)
						background footer

	*/
/*variables fonts*/
/*variables couleurs linear-gradient*/
/*variables shadows*/
/*@mixin linear-gradient*/
/*@mixin border-radius*/
/*@mixin box-shadow*/
/*index*/
body {
  width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: auto;
  font-family: "Roboto";
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.logo {
  margin-top: 20px;
  font-family: "Shrikhand", cursive;
  font-size: 40px;
  font-weight: 400;
  color: black;
  text-align: center;
}

.search {
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 38, 66, 0.35) 0px -2px 6px 0px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 38, 66, 0.35) 0px -2px 6px 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.search__picto {
  font-size: 20px;
}

.search__city {
  max-width: 150px;
  font-size: 18px;
  /*font-family: $font-text;*/
  font-weight: 500;
  color: black;
  text-align: center;
  background-color: #ebebeb;
  border: none;
}

.presentation {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  background-color: whitesmoke;
}

.presentation__title {
  font-size: 28px;
  font-weight: 700;
  width: 80%;
  margin: 30px 0px 15px 0px;
}

.presentation__text {
  color: gray;
  font-size: 18px;
  width: 90%;
  margin-bottom: 15px;
}

.presentation__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  width: 190px;
  border: none;
  /*
		border-radius: 30px;*/
  border-radius: 30px;
  padding: 15px;
  color: white;
  background: #FF79DA;
  /*
		background: -moz-linear-gradient(top,  $color-2 0%, $color-1 100%);
		background: -webkit-linear-gradient(top,  $color-2 0%,$color-1 100%);
		background: linear-gradient(to bottom,  $color-2 0%,$color-1 100%);*/
  /* Couleur de secours pour les vieux navigateurs */
  background-color: #9356DC;
  /* Mozilla Firefox */
  /* Opera */
  /* WebKit (Safari 4+, Chrome 1+) */
  /* WebKit (Chrome 11+) */
  /* IE10 */
  /* W3C */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-filter: progid;
          filter: progid;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.4);
  box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.4);
  margin: 25px 0px 40px 0px;
  cursor: pointer;
}

.presentation__btn:hover {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
  /*
			-webkit-box-shadow: 0px 1px 10px $color-10;*/
  -webkit-box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.9);
  box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.9);
}

.method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  background-color: white;
  width: 100%;
}

.method__title {
  font-size: 20px;
  font-weight: 700;
  margin: 40px 0px 20px 20px;
}

.method__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.method__step-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  min-height: 80px;
  width: 25%;
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.4);
  box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.4);
  margin-bottom: 20px;
  margin-left: 5px;
}

.method__step-btn:hover {
  background-color: #f1eafb;
  cursor: pointer;
}

.method__step-btn:hover i {
  color: #9356DC;
}

.method__number {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: -10px;
  margin-right: 10px;
  background-color: #9356DC;
  font-size: 15px;
  color: white;
  min-width: 25px;
  min-height: 25px;
  border-radius: 100%;
}

.method i {
  font-size: 18px;
  color: gray;
  margin-right: 20px;
}

.method p {
  font-weight: 500;
}

.restaurants {
  background-color: whitesmoke;
  padding-bottom: 55px;
  padding-top: 10px;
}

.restaurants__title {
  font-size: 20px;
  font-weight: 700;
  margin: 40px 0px 20px 20px;
}

.card__new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #278b72;
  width: 100px;
  height: 35px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.restaurant__boxes__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurant__boxes__card a {
  text-decoration: none;
  color: black;
}

.card {
  position: relative;
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.4);
  box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.4);
  margin: 20px;
}

.card__picture {
  width: 100%;
  height: 320px;
}

.card__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 60%;
     object-position: 0% 60%;
  /*border-radius: 20px 20px 0px 0px;*/
  border-radius: 20px 20px 0px 0px;
}

.card__text {
  position: relative;
  margin: 5px 10px 5px 10px;
}

.card__heart {
  position: absolute;
  top: 330px;
  right: 20px;
  font-size: 25px;
  font-weight: 500;
}

.card__heart i {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: transparent;
}

.card__heart i:hover {
  -webkit-animation: remplissage-coeur 2s ease 0s 4 normal both;
  animation: remplissage-coeur 2s ease 0s 4 normal both;
  -webkit-text-stroke: 0px transparent;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  margin: 5px;
}

.card__city-name {
  font-size: 16px;
  font-weight: 400;
  margin: 5px;
}

footer {
  text-decoration: none;
  color: white;
  font-weight: 400;
  background-color: #4d4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  margin: 20px;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  color: white;
  font-weight: 100;
  text-align: center;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__list__element {
  margin: 0;
  padding: 0;
}

.footer__list__element a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: 400;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.footer__list__element i {
  width: 20px;
  height: 20px;
  font-size: 18px;
  margin: 0px 0px 20px 20px;
}

.footer__list__element p {
  font-size: 18px;
  margin: 0px 20px 20px 20px;
}

/*index responsive*/
@media only screen and (max-width: 767px) {
  body {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    max-width: 767px;
    width: 100%;
    margin: auto;
    font-family: "Roboto";
    overflow-x: hidden;
  }
  .method__step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .method__step-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 20px;
    min-height: 80px;
    width: 90%;
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.4);
    box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.4);
    margin-bottom: 20px;
    margin-left: 5px;
  }
  .restaurant__boxes__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .restaurant__boxes__card a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    position: relative;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.4);
    box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.4);
    margin: 10px 20px 10px 20px;
  }
  .card__picture {
    width: 100%;
    height: 210px;
  }
  .card__heart {
    position: absolute;
    top: 218px;
    right: 20px;
    font-size: 25px;
    font-weight: 500;
  }
  .footer__title {
    margin: 20px;
    font-family: "Shrikhand", cursive;
    font-size: 20px;
    color: white;
    font-weight: 100;
    text-align: start;
  }
  .footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*fin index*/
/*pages*/
body {
  width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: auto;
  font-family: "Roboto";
  overflow-x: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  position: relative;
}

header a {
  color: black;
  text-decoration: none;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-size: 40px;
  color: black;
  margin: 15px;
  font-weight: 400;
}

.header__picto {
  position: absolute;
  left: 20PX;
  font-size: 28px;
  font-weight: 900;
}

.page-restaurant__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: -1;
}

.page-restaurant__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0% 80%;
     object-position: 0% 80%;
  max-height: 600px;
  height: auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -50px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 35px 35px 0 0;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu__nom-restaurant {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
  font-weight: 200;
}

.menu__picto {
  font-size: 23px;
  font-weight: 200;
  color: transparent;
  -webkit-text-stroke: 2px black;
}

.menu__circle-check {
  position: absolute;
  right: 0px;
  width: 60px;
  height: 100%;
  font-size: 22px;
  border-radius: 0 10px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.menu:hover .plat__prix {
  padding-right: 60px;
}

.menu:hover .plat__circle-check {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

.menu:hover .plat__circle-check i {
  -webkit-animation: check-rotation 0.6s both;
  animation: check-rotation 0.6s both;
  cursor: pointer;
}

.menu:hover .info__nom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.menu:hover .info__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.menu i {
  -webkit-animation: check-rotation 0.6s both;
  animation: check-rotation 0.6s both;
  cursor: pointer;
}

.carte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.carte-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 30%;
}

.carte-box__title {
  margin: 25px 0px 10px 5px;
  padding-bottom: 5px;
  /*
			font-family: 'Roboto', sans-serif;*/
  font-size: 18px;
  text-transform: uppercase;
  max-width: 45px;
  border-bottom: solid #99E2D0;
}

.plats-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.plat {
  position: relative;
  width: 100%;
  margin: 10px auto 10px auto;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.4);
  box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.4);
  overflow: hidden;
  -webkit-animation: apparition 1.5s forwards;
  animation: apparition 1.5s forwards;
  opacity: 0;
  /*&:hover
	{
	background-color: $color-11;
	}*/
}

.plat__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plat__prix {
  position: absolute;
  bottom: 14px;
  right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
  font-weight: 700;
  font-size: 15px;
  font-weight: 500;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.plat__circle-check {
  position: absolute;
  right: 0px;
  width: 60px;
  height: 100%;
  font-size: 22px;
  border-radius: 0 10px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.plat:hover .plat__prix {
  padding-right: 60px;
}

.plat:hover .plat__circle-check {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

.plat:hover .plat__circle-check i {
  -webkit-animation: check-rotation 0.6s both;
  animation: check-rotation 0.6s both;
  cursor: pointer;
}

.plat:hover .info__nom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.plat:hover .info__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.plat:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.plat:nth-child(3) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.plat:nth-child(4) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.info__nom {
  font-weight: 700;
  font-size: 16px;
  margin: 4px 0px 4px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info__description {
  font-weight: 400;
  font-size: 14px;
  margin: 4px 0px 4px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn-commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  width: 170px;
  border-radius: 30px;
  padding: 15px;
  color: white;
  /* Couleur de secours pour les vieux navigateurs */
  background-color: #9356DC;
  /* Mozilla Firefox */
  /* Opera */
  /* WebKit (Safari 4+, Chrome 1+) */
  /* WebKit (Chrome 11+) */
  /* IE10 */
  /* W3C */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-filter: progid;
          filter: progid;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.4);
  box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.4);
  margin: 30px 0px 35px 0px;
  cursor: pointer;
}

.btn-commander:hover {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
  /*-webkit-box-shadow: 0px 1px 10px $color-10;*/
  -webkit-box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.9);
  box-shadow: 0px 1px 2px 0px rgba(77, 77, 77, 0.4), 0px 2px 6px 2px rgba(77, 77, 77, 0.9);
}

footer {
  text-decoration: none;
  color: white;
  font-weight: 400;
  background-color: #4d4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  margin: 20px;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  color: white;
  font-weight: 100;
  text-align: center;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__list__element {
  margin: 0;
  padding: 0;
}

.footer__list__element a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: 400;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.footer__list__element i {
  width: 20px;
  height: 20px;
  font-size: 18px;
  margin: 0px 0px 20px 20px;
}

.footer__list__element p {
  font-size: 18px;
  margin: 0px 20px 20px 20px;
}

@media only screen and (max-width: 767px) {
  body {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    max-width: 767px;
    width: 100%;
    margin: auto;
    font-family: "Roboto";
    overflow-x: hidden;
  }
  .carte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 95%;
  }
  .carte-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  .footer__title {
    margin: 20px;
    font-family: "Shrikhand", cursive;
    font-size: 20px;
    color: white;
    font-weight: 100;
    text-align: start;
  }
  .footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    display: contents;
  }
  100% {
    -webkit-transform: translateX(-5em);
    transform: translateX(-5em);
    display: contents;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    display: contents;
  }
  100% {
    -webkit-transform: translateX(-5em);
    transform: translateX(-5em);
    display: contents;
  }
}

@-webkit-keyframes check-rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin: 0;
  }
  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    margin: 0 2rem;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes check-rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin: 0;
  }
  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    margin: 0 2rem;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes remplissage-coeur {
  0% {
    opacity: 0.25;
    background: -webkit-gradient(linear, left bottom, left top, from(#E16FDA), color-stop(43%, #E270DA), color-stop(70%, #A55CDB), to(#AB65ED));
    background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    opacity: .33;
    background: -webkit-gradient(linear, left bottom, left top, from(#E16FDA), color-stop(43%, #E270DA), color-stop(70%, #A55CDB), to(#AB65ED));
    background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    opacity: .50;
    background: -webkit-gradient(linear, left bottom, left top, from(#E16FDA), color-stop(43%, #E270DA), color-stop(70%, #A55CDB), to(#AB65ED));
    background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    opacity: .75;
    background: -webkit-gradient(linear, left bottom, left top, from(#E16FDA), color-stop(43%, #E270DA), color-stop(70%, #A55CDB), to(#AB65ED));
    background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    opacity: 1;
    background: -webkit-gradient(linear, left bottom, left top, from(#E16FDA), color-stop(43%, #E270DA), color-stop(70%, #A55CDB), to(#AB65ED));
    background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /*
@-webkit-keyframes remplissage-coeur
{
    0%
    {
		opacity: 0;
		color: transparent;
		-webkit-text-stroke-width: 0px;
		background: -webkit-gradient(linear, left top, left bottom, from($color-2), to($color-1));
		background: linear-gradient($color-2, $color-1);
		-webkit-background-clip: text;
		background-clip: text;
    }

    100%
    {
	opacity: 1;
	background: -webkit-gradient(linear, left top, left bottom, from($color-2), to($color-1));
	background: linear-gradient($color-2, $color-1);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-stroke-width: 0px;
    }
}
@keyframes remplissage-coeur
{
    0% {
	opacity: 0;
	color: transparent;
	-webkit-text-stroke-width: 0px;
	background: -webkit-gradient(linear, left top, left bottom, from($color-2), to($color-1));
	background: -o-linear-gradient($color-2, $color-1);
	background: linear-gradient($color-2, $color-1);
	-webkit-background-clip: text;
	background-clip: text;
}
100%
{
 
	opacity: 1;
	background: -webkit-gradient(linear, left top, left bottom, from($color-2), to($color-1));
	background: -o-linear-gradient($color-2, $color-1);
	background: linear-gradient($color-2, $color-1);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-stroke-width: 0px;
}*/
}

@keyframes remplissage-coeur {
  0% {
    opacity: 0.25;
    background: -webkit-gradient(linear, left bottom, left top, from(#E16FDA), color-stop(43%, #E270DA), color-stop(70%, #A55CDB), to(#AB65ED));
    background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    opacity: .33;
    background: -webkit-gradient(linear, left bottom, left top, from(#E16FDA), color-stop(43%, #E270DA), color-stop(70%, #A55CDB), to(#AB65ED));
    background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    opacity: .50;
    background: -webkit-gradient(linear, left bottom, left top, from(#E16FDA), color-stop(43%, #E270DA), color-stop(70%, #A55CDB), to(#AB65ED));
    background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    opacity: .75;
    background: -webkit-gradient(linear, left bottom, left top, from(#E16FDA), color-stop(43%, #E270DA), color-stop(70%, #A55CDB), to(#AB65ED));
    background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    opacity: 1;
    background: -webkit-gradient(linear, left bottom, left top, from(#E16FDA), color-stop(43%, #E270DA), color-stop(70%, #A55CDB), to(#AB65ED));
    background: linear-gradient(to top, #E16FDA 0%, #E270DA 43%, #A55CDB 70%, #AB65ED 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /*
@-webkit-keyframes remplissage-coeur
{
    0%
    {
		opacity: 0;
		color: transparent;
		-webkit-text-stroke-width: 0px;
		background: -webkit-gradient(linear, left top, left bottom, from($color-2), to($color-1));
		background: linear-gradient($color-2, $color-1);
		-webkit-background-clip: text;
		background-clip: text;
    }

    100%
    {
	opacity: 1;
	background: -webkit-gradient(linear, left top, left bottom, from($color-2), to($color-1));
	background: linear-gradient($color-2, $color-1);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-stroke-width: 0px;
    }
}
@keyframes remplissage-coeur
{
    0% {
	opacity: 0;
	color: transparent;
	-webkit-text-stroke-width: 0px;
	background: -webkit-gradient(linear, left top, left bottom, from($color-2), to($color-1));
	background: -o-linear-gradient($color-2, $color-1);
	background: linear-gradient($color-2, $color-1);
	-webkit-background-clip: text;
	background-clip: text;
}
100%
{
 
	opacity: 1;
	background: -webkit-gradient(linear, left top, left bottom, from($color-2), to($color-1));
	background: -o-linear-gradient($color-2, $color-1);
	background: linear-gradient($color-2, $color-1);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-stroke-width: 0px;
}*/
}
/*# sourceMappingURL=main.css.map */