@charset "UTF-8";
/*Shrikhand*/
/* gujarati */
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/shrikhand/v11/a8IbNovtLWfR7T7bMJwrGIKR4zg.woff2) format("woff2");
  unicode-range: U+0964-0965, U+0A80-0AFF, U+200C-200D, U+20B9, U+25CC, U+A830-A839;
}
/* latin-ext */
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/shrikhand/v11/a8IbNovtLWfR7T7bMJwrDYKR4zg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/shrikhand/v11/a8IbNovtLWfR7T7bMJwrA4KR.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*Roboto*/
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOiCnqEu92Fr1Mu51QrEz0dL_nz.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOiCnqEu92Fr1Mu51QrEzQdL_nz.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOiCnqEu92Fr1Mu51QrEzwdL_nz.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOiCnqEu92Fr1Mu51QrEzMdL_nz.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOiCnqEu92Fr1Mu51QrEz8dL_nz.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOiCnqEu92Fr1Mu51QrEz4dL_nz.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOiCnqEu92Fr1Mu51QrEzAdLw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc3CsTKlA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc-CsTKlA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc2CsTKlA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc5CsTKlA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc1CsTKlA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc0CsTKlA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TjASc6CsQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xFIzIFKw.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xMIzIFKw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xEIzIFKw.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xLIzIFKw.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xHIzIFKw.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc3CsTKlA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc-CsTKlA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc2CsTKlA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc5CsTKlA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc1CsTKlA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc0CsTKlA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51S7ACc6CsQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic3CsTKlA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic-CsTKlA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic2CsTKlA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic5CsTKlA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic1CsTKlA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic0CsTKlA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc3CsTKlA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc-CsTKlA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc2CsTKlA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc5CsTKlA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc1CsTKlA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc0CsTKlA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOjCnqEu92Fr1Mu51TLBCc6CsQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxFIzIFKw.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxMIzIFKw.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxEIzIFKw.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxLIzIFKw.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxHIzIFKw.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*variables couleurs
	color-1: #9356DC
						font .method__step-btn:hover i
						background .method__number
						backround (gradient) .presentation__btn
	color-2: #FF79DA
						background .presentation__btn (Old browsers)
						backround (gradient) .presentation__btn
	color-3 : #99E2D0
						background .card__new
	color-4 : white
						background header
								   .method
								   .card
						font .presentation__btn
							 .method__number
							 footer
							 .footer__title
							 .footer__list__element a

 	color-5 : black
						font .logo
							 .search__city
							 .restaurant__boxes__card a
						font border .card__heart i
	color-6 : hsl(0, 0%, 50%)
						font .presentation__text
							 .method i
	color-7 : hsl(0, 0%, 96%)
						background .presentation
								   .method__step-btn
								   .restaurants
	color-8 : hsl(0, 0%, 92%)
						background .search
								   .search__city
	$color-9:hsla(0, 0%, 30%, 0.9)
						box-shadow .presentation__btn
									.method__step-btn
									.card
	$color-10:hsla(0, 0%, 30%, 0.9)
						box-shadow .presentation__btn:hover
	$color-11:hsl(267, 66%, 95%)
						background &:hover (.plat)
	$color-12:hsl(165, 56%, 35%)
						font .card__new
	$color-13:hsl(0, 0%, 30%)
						background footer
	*/
/*variables fonts*/
/*variables couleurs linear-gradient*/
/*variables shadows*/
/*@mixin linear-gradient*/
/*@mixin border-radius*/
/*@mixin box-shadow*/
/*@mixin loader*/
@-webkit-keyframes apparition-plats {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes apparition-plats {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes anim-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes anim-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes anim-ball {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes anim-ball {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@-webkit-keyframes fade-loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes fade-loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/*animation heart*/
@keyframes anim-heart {
  0% {
    opacity: 0.1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: center;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  20% {
    opacity: 0.2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: center;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }
  40% {
    opacity: 0.4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: center;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
  60% {
    opacity: 0.6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: center;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  80% {
    opacity: 0.8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: center;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  80%, 100% {
    opacity: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: center;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: center;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes anim-heart {
  0% {
    opacity: 0.1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: center;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  20% {
    opacity: 0.2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: center;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }
  40% {
    opacity: 0.4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: center;
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
  }
  60% {
    opacity: 0.6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: center;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  80% {
    opacity: 0.8;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: center;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  80%, 100% {
    opacity: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: center;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: center;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.loader-container {
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: hsl(0deg, 0%, 30%);
  z-index: 5;
  pointer-events: none;
  -webkit-animation: fade-loader 0.5s ease 4s forwards;
  animation: fade-loader 0.5s ease 4s forwards;
}
.loader-container::before {
  content: "";
  opacity: 0;
}

.ring {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vw;
  min-width: 15vw;
  min-height: 15vw;
  background: transparent;
  border: 0.35vw solid hsl(165deg, 56%, 35%);
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
}
.ring::before {
  content: "";
  position: absolute;
  top: -0.35vw;
  left: -0.35vw;
  width: 100%;
  height: 100%;
  border: 0.35vw solid transparent;
  border-top: 0.35vw solid #99E2D0;
  border-right: 0.35vw solid #99E2D0;
  border-radius: 50%;
  -webkit-animation: anim-ring 1s linear 0.1s 5 both;
  animation: anim-ring 1s linear 0.1s 5 both;
}

span {
  display: block;
  position: absolute;
  top: calc(50% - 0.2vw);
  left: 50%;
  width: 50%;
  height: 0.45vw;
  background: transparent;
  transform-origin: left;
  -webkit-animation: anim-ball 1s linear 0.1s 5 both;
  animation: anim-ball 1s linear 0.1s 5 both;
}
span::before {
  content: "";
  position: absolute;
  width: 1.8vw;
  height: 1.8vw;
  border-radius: 50%;
  background: #99E2D0;
  top: -0.68vw;
  right: -1.2vw;
}

.loader {
  display: flex;
  font-family: "Shrikhand", cursive;
  font-size: 8vw;
  color: #FFF;
  justify-content: center;
  align-items: center;
  letter-spacing: 1.15vw;
}
.loader p {
  display: inline-block;
  margin: 0 -0.05em;
}

.loading p {
  -webkit-animation: loading 1s linear 5 alternate;
  animation: loading 1s linear 5 alternate;
}
.loading p:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.loading p:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loading p:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loading p:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.loading p:nth-child(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.loading p:nth-child(6) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.loading p:nth-child(7) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

/*orientation mobile: landscape*/
@media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  .ring {
    width: 50vw;
    height: 50vw;
  }

  .loader {
    font-size: 6vw;
  }
}
/* tablette (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1180px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .ring {
    width: 55vw;
    height: 55vw;
  }

  .loader {
    font-size: 7vw;
  }
}
/*index*/
body {
  width: 100%;
  box-sizing: content-box;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
}

.logo {
  margin-top: 20px;
  font-family: "Shrikhand", cursive;
  font-size: 40px;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.search {
  background-color: hsl(0deg, 0%, 92%);
  display: flex;
  height: 45px;
  -webkit-box-shadow: hsla(240deg, 30%, 28%, 0.25) 0px 50px 100px -20px, hsla(0deg, 0%, 0%, 0.3) 0px 30px 60px -30px, hsla(210deg, 73%, 15%, 0.35) 0px -2px 6px 0px;
  -moz-box-shadow: hsla(240deg, 30%, 28%, 0.25) 0px 50px 100px -20px, hsla(0deg, 0%, 0%, 0.3) 0px 30px 60px -30px, hsla(210deg, 73%, 15%, 0.35) 0px -2px 6px 0px;
  box-shadow: hsla(240deg, 30%, 28%, 0.25) 0px 50px 100px -20px, hsla(0deg, 0%, 0%, 0.3) 0px 30px 60px -30px, hsla(210deg, 73%, 15%, 0.35) 0px -2px 6px 0px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.search__picto {
  font-size: 20px;
}
.search__city {
  max-width: 150px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-align: center;
  background-color: hsl(0deg, 0%, 92%);
  border: none;
}

.presentation {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: hsl(0deg, 0%, 96%);
}
.presentation__title {
  font-size: 28px;
  font-weight: 700;
  width: 80%;
  margin: 30px 0px 15px 0px;
}
.presentation__text {
  color: hsl(0deg, 0%, 50%);
  font-size: 18px;
  width: 90%;
  margin-bottom: 15px;
}
.presentation__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 190px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  border: none;
  padding: 15px;
  color: #FFF;
  background: #FF79DA;
  /* Couleur de secours pour les vieux navigateurs */
  background-color: #9356DC;
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(#FF79DA, #9356DC);
  /* Opera */
  background-image: -o-linear-gradient(#FF79DA, #9356DC);
  /* WebKit (Safari 4+, Chrome 1+) */
  background-image: -webkit-gradient(linear, » left top, left bottom, color-stop(0, #FF79DA), » color-stop(1, #9356DC));
  /* WebKit (Chrome 11+) */
  background-image: -webkit-linear-gradient(#FF79DA, #9356DC);
  /* IE10 */
  background-image: -ms-linear-gradient(#FF79DA, #9356DC);
  /* W3C */
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
  -moz-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
  box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
  margin: 25px 0px 40px 0px;
  cursor: pointer;
}
.presentation__btn:hover {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
  -webkit-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.9);
  -moz-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.9);
  box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.9);
}

.method {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  background-color: #FFF;
  width: 100%;
}
.method__title {
  font-size: 20px;
  font-weight: 700;
  margin: 40px 0px 20px 20px;
}
.method__step {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.method__step p {
  padding-right: 5px;
}
.method__step-btn {
  display: flex;
  align-items: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  min-height: 80px;
  width: 25%;
  background-color: hsl(0deg, 0%, 96%);
  -webkit-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
  -moz-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
  box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
  margin-bottom: 20px;
  margin-left: 5px;
}
.method__step-btn:hover {
  background-color: hsl(267deg, 66%, 95%);
  cursor: pointer;
}
.method__step-btn:hover i {
  color: #9356DC;
}
.method__number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: -10px;
  margin-right: 10px;
  background-color: #9356DC;
  font-size: 15px;
  color: #FFF;
  min-width: 25px;
  min-height: 25px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.method i {
  font-size: 18px;
  color: hsl(0deg, 0%, 50%);
  margin-right: 20px;
}
.method p {
  font-weight: 500;
}

.restaurants {
  background-color: hsl(0deg, 0%, 96%);
  padding-bottom: 55px;
  padding-top: 10px;
  width: 100%;
}
.restaurants__title {
  font-size: 20px;
  font-weight: 700;
  margin: 40px 0px 20px 20px;
}
.restaurants__boxes {
  display: flex;
  width: 100%;
}

.card__new {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: hsl(165deg, 56%, 35%);
  width: 100px;
  height: 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.restaurant__boxes__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.restaurant__boxes__card a {
  text-decoration: none;
  color: #000;
}

.card {
  position: relative;
  width: 550px;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
  -moz-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
  box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
  margin: 20px;
}
.card__picture {
  width: 100%;
  height: 320px;
}
.card__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 60%;
  -webkit-border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  -ms-border-radius: 20px 20px 0px 0px;
  -o-border-radius: 20px 20px 0px 0px;
  border-radius: 20px 20px 0px 0px;
}
.card__text {
  display: flex;
  width: 95%;
  position: relative;
  margin: 5px 0px 5px 10px;
  flex-direction: column;
}
.card__heart {
  position: absolute;
  top: 330px;
  right: 20px;
  font-size: 25px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  text-align: center;
  z-index: 3;
}
.card__heart__empty {
  position: absolute;
  top: -25px;
  right: 5px;
  width: 30px;
}
.card__heart__empty i {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: transparent;
}
.card__heart__empty:hover {
  position: absolute;
  top: -25px;
  right: 5px;
  width: 30px;
}
.card__heart__empty:hover i {
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: transparent;
  -webkit-text-fill-color: transparent;
}
.card__heart__full {
  position: absolute;
  top: -25px;
  right: 5px;
  width: 30px;
}
.card__heart__full i {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: transparent;
}
.card__heart__full:hover {
  position: absolute;
  top: -25px;
  right: 5px;
  width: 30px;
}
.card__heart__full:hover i {
  -webkit-animation: anim-heart 1s linear 0s 1 normal forwards;
  animation: anim-heart 1s linear 0s 1 normal forwards;
  /* Couleur de secours pour les vieux navigateurs */
  background-color: #9356DC;
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(#FF79DA, #9356DC);
  /* Opera */
  background-image: -o-linear-gradient(#FF79DA, #9356DC);
  /* WebKit (Safari 4+, Chrome 1+) */
  background-image: -webkit-gradient(linear, » left top, left bottom, color-stop(0, #FF79DA), » color-stop(1, #9356DC));
  /* WebKit (Chrome 11+) */
  background-image: -webkit-linear-gradient(#FF79DA, #9356DC);
  /* IE10 */
  background-image: -ms-linear-gradient(#FF79DA, #9356DC);
  /* W3C */
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: copy;
}
.card__title {
  font-size: 18px;
  font-weight: 700;
  margin: 5px;
  flex: 1;
  overflow: hidden;
  width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 3;
}
.card__city-name {
  font-size: 16px;
  font-weight: 400;
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%;
  flex: 3;
}

footer {
  text-decoration: none;
  color: #FFF;
  font-weight: 400;
  background-color: hsl(0deg, 0%, 30%);
  display: flex;
  flex-direction: column;
}

.footer__title {
  margin: 20px;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  color: #FFF;
  font-weight: 100;
  text-align: center;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.footer__list__element {
  margin: 0;
  padding: 0;
}
.footer__list__element a {
  display: flex;
  text-decoration: none;
  color: #FFF;
  font-weight: 400;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
.footer__list__element i {
  width: 20px;
  height: 20px;
  font-size: 18px;
  margin: 0px 0px 20px 20px;
}
.footer__list__element p {
  font-size: 18px;
  margin: 0px 20px 20px 20px;
}

/*index responsive*/
@media only screen and (max-width: 767px) {
  body {
    box-sizing: content-box;
    max-width: 767px;
    margin: auto;
    font-family: "Roboto";
    overflow-x: hidden;
  }

  main {
    width: 100%;
    overflow-x: hidden;
  }

  .method__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .method__step-btn {
    display: flex;
    align-items: center;
    border-radius: 20px;
    min-height: 80px;
    width: 90%;
    background-color: hsl(0deg, 0%, 96%);
    -webkit-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
    -moz-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
    box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
    margin-bottom: 20px;
    margin-left: 5px;
  }

  .restaurant__boxes__card {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
  .restaurant__boxes__card a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
    -moz-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
    box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
    margin: 10px 20px 10px 20px;
  }
  .card__picture {
    width: 100%;
    height: 210px;
  }
  .card__heart {
    position: absolute;
    top: 218px;
    right: 20px;
    font-size: 25px;
    font-weight: 500;
    z-index: 3;
  }

  .footer__title {
    margin: 20px;
    font-family: "Shrikhand", cursive;
    font-size: 20px;
    color: #FFF;
    font-weight: 100;
    text-align: start;
  }

  .footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
/*pages*/
body {
  width: 100%;
  box-sizing: content-box;
  margin: auto;
  font-family: "Roboto";
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  position: relative;
}
header a {
  color: #000;
  text-decoration: none;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-size: 40px;
  color: #000;
  margin: 15px;
  font-weight: 400;
}

.header__picto {
  position: absolute;
  left: 20PX;
  font-size: 28px;
  font-weight: 900;
}

.page-restaurant__img {
  display: flex;
  position: relative;
  z-index: -1;
}
.page-restaurant__img img {
  width: 100%;
  object-fit: cover;
  object-position: 0% 80%;
  max-height: 600px;
  height: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
  width: 100%;
  background-color: hsl(0deg, 0%, 96%);
  -webkit-border-radius: 35px 35px 0 0;
  -moz-border-radius: 35px 35px 0 0;
  -ms-border-radius: 35px 35px 0 0;
  -o-border-radius: 35px 35px 0 0;
  border-radius: 35px 35px 0 0;
  /* pages responsives */
}
.menu__title {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.menu__nom-restaurant {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
  font-weight: 200;
}
.menu__picto {
  position: absolute;
  top: 20px;
  right: 265px;
  font-size: 25px;
  font-weight: 500;
}
.menu__picto__empty {
  position: absolute;
  top: -25px;
  right: 5px;
  width: 30px;
}
.menu__picto__empty i {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: transparent;
}
.menu__picto__empty:hover {
  position: absolute;
  top: -25px;
  right: 5px;
  width: 30px;
}
.menu__picto__empty:hover i {
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: transparent;
  -webkit-text-fill-color: transparent;
}
.menu__picto__full {
  position: absolute;
  top: -25px;
  right: 5px;
  width: 30px;
}
.menu__picto__full i {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: transparent;
}
.menu__picto__full:hover {
  position: absolute;
  top: -25px;
  right: 5px;
  width: 30px;
}
.menu__picto__full:hover i {
  -webkit-animation: anim-heart 1s linear 0s 1 normal forwards;
  animation: anim-heart 1s linear 0s 1 normal forwards;
  /* Couleur de secours pour les vieux navigateurs */
  background-color: #9356DC;
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(#FF79DA, #9356DC);
  /* Opera */
  background-image: -o-linear-gradient(#FF79DA, #9356DC);
  /* WebKit (Safari 4+, Chrome 1+) */
  background-image: -webkit-gradient(linear, » left top, left bottom, color-stop(0, #FF79DA), » color-stop(1, #9356DC));
  /* WebKit (Chrome 11+) */
  background-image: -webkit-linear-gradient(#FF79DA, #9356DC);
  /* IE10 */
  background-image: -ms-linear-gradient(#FF79DA, #9356DC);
  /* W3C */
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: copy;
}
.menu .carte {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.menu .carte-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 30%;
}
.menu .carte-box__title {
  margin: 25px 0px 10px 5px;
  padding-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
  max-width: 45px;
  border-bottom: solid #99E2D0;
}
.menu .plats-box {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.menu .plat {
  position: relative;
  width: 100%;
  margin: 10px auto 10px auto;
  background-color: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  -webkit-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
  -moz-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
  box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
  -webkit-animation: apparition-plats 1.5s forwards;
  animation: apparition-plats 1.5s forwards;
  opacity: 0;
  overflow: hidden;
}
.menu .plat:hover .plat__circle-check {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  flex: 3;
  cursor: pointer;
}
.menu .plat:hover .plat__prix {
  padding-right: 65px;
  width: 30px;
}
.menu .plat:hover .plat__circle-check i {
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.menu .plat__info {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 95%;
}
.menu .plat__nom-prix {
  width: 95%;
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menu .plat__nom {
  font-weight: 700;
  width: 95%;
  font-size: 16px;
  margin: 4px 0px 4px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 3;
}
.menu .plat__nom:hover {
  font-weight: 700;
  width: 95%;
  font-size: 16px;
  margin: 4px 0px 4px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 3;
  cursor: pointer;
}
.menu .plat__description-prix {
  width: 95%;
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.menu .plat__description {
  font-weight: 400;
  font-size: 14px;
  margin: 4px 0px 4px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 3;
}
.menu .plat__prix {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-weight: 700;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
.menu .plat__circle-check {
  position: absolute;
  top: 0;
  right: 0px;
  width: 75px;
  height: 100%;
  font-size: 22px;
  overflow: hidden;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #FFF;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}
.menu .plat__circle-check i {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -ms-transition: -ms-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
.menu .plat:nth-child(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.menu .plat:nth-child(3) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.menu .plat:nth-child(4) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.menu .btn-commander {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 170px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  padding: 15px;
  color: #FFF;
  /* Couleur de secours pour les vieux navigateurs */
  background-color: #9356DC;
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(#FF79DA, #9356DC);
  /* Opera */
  background-image: -o-linear-gradient(#FF79DA, #9356DC);
  /* WebKit (Safari 4+, Chrome 1+) */
  background-image: -webkit-gradient(linear, » left top, left bottom, color-stop(0, #FF79DA), » color-stop(1, #9356DC));
  /* WebKit (Chrome 11+) */
  background-image: -webkit-linear-gradient(#FF79DA, #9356DC);
  /* IE10 */
  background-image: -ms-linear-gradient(#FF79DA, #9356DC);
  /* W3C */
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
  -moz-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
  box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.4);
  margin: 30px 0px 35px 0px;
  cursor: pointer;
}
.menu .btn-commander:hover {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
  -webkit-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.9);
  -moz-box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.9);
  box-shadow: 0px 1px 2px 0px hsla(0deg, 0%, 30%, 0.4), 0px 2px 6px 2px hsla(0deg, 0%, 30%, 0.9);
}
.menu footer {
  text-decoration: none;
  color: #FFF;
  font-weight: 400;
  background-color: hsl(0deg, 0%, 30%);
  display: flex;
  flex-direction: column;
}
.menu .footer__title {
  margin: 20px;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  color: #FFF;
  font-weight: 100;
  text-align: center;
}
.menu .footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.menu .footer__list__element {
  margin: 0;
  padding: 0;
}
.menu .footer__list__element a {
  display: flex;
  text-decoration: none;
  color: #FFF;
  font-weight: 400;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
.menu .footer__list__element i {
  width: 20px;
  height: 20px;
  font-size: 18px;
  margin: 0px 0px 20px 20px;
}
.menu .footer__list__element p {
  font-size: 18px;
  margin: 0px 20px 20px 20px;
}
@media only screen and (max-width: 767px) {
  .menu body {
    box-sizing: content-box;
    max-width: 767px;
    width: 100%;
    margin: auto;
    font-family: "Roboto";
    overflow-x: hidden;
  }
  .menu .carte {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  .menu .carte-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
  .menu .menu__picto {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 25px;
    font-weight: 500;
  }
  .menu .footer__title {
    margin: 20px;
    font-family: "Shrikhand", cursive;
    font-size: 20px;
    color: #FFF;
    font-weight: 100;
    text-align: start;
  }
  .menu .footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
