
.loader-container {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 1;
	width: 100%;
	height: 100%;
	background:$color-13;
	z-index: 1;
	overflow-x: hidden;
	-webkit-animation: fade-loader 0.5s ease 4s forwards;
	animation: fade-loader 0.5s ease 4s forwards;

	&::before {
	content: '';
	opacity: 0;
	}
}
.ring {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 55vh;
	height: 55vh;
	min-width: 10vh;
	min-height: 10vh;
	background: transparent;
	border: 0.35vh solid $color-12;
	border-radius: 50%;
	flex-direction: column;
	justify-content: center;
	&::before {
		content: '';
		position: absolute;
		top: -0.35vh;
		left: -0.35vh;
		width: 100%;
		height: 100%;
		border: 0.35vh solid transparent;
		border-top: 0.35vh solid $color-3;
		border-right: 0.35vh solid $color-3;
		border-radius: 50%;
		-webkit-animation: anim-ring 1s linear 0.1s 5 both;
		animation: anim-ring 1s linear 0.1s 5 both;
	}
}
span {
	display: block;
	position: absolute;
	top: calc(50% - 0.2vh);
	left: 50%;
	width: 50%;
	height: 0.45vh;
	background: transparent;
	transform-origin: left;
	-webkit-animation: anim-ball 1s linear 0.1s 5 both;
	animation: anim-ball 1s linear 0.1s 5 both;
	&::before {
		content: '';
		position: absolute;
		width: 1.8vh;
		height: 1.8vh;
		border-radius: 50%;
		background: $color-3;
		top: -0.68vh;
		right: -1.2vh;
	}
}
.loader {
	display: flex;
	font-family: $font-logo;
	font-size: 7vh;
	color: $color-4;
	justify-content: center;
	align-items: center;
	letter-spacing: 1.15vh;
	p {
		display: inline-block;
		margin: 0 -0.05em;
	}
}
.loading {
	p {
		-webkit-animation: loading 1s linear 5 alternate;
		animation: loading 1s linear 5 alternate;
		&:nth-child(1) {
			-webkit-animation-delay: 0s;
			animation-delay: 0.1s;
		}
		&:nth-child(2) {
			-webkit-animation-delay: 0.1s;
			animation-delay: 0.2s;
		}
		&:nth-child(3) {
			animation-delay: 0.3s;
		}
		&:nth-child(4) {
			-webkit-animation-delay: 0.3s;
			animation-delay: 0.4s;
		}
		&:nth-child(5) {
			-webkit-animation-delay: 0.4s;
			animation-delay: 0.5s;
		}
		&:nth-child(6) {
			-webkit-animation-delay: 0.5s;
			animation-delay: 0.6s;
		}
		&:nth-child(7) {
			-webkit-animation-delay: 0.6s;
			animation-delay: 0.7s;
		}
	}
}