/*variables couleurs
Rappel
color-1 : couleur primaire du dégradé des bouton, le hover des picto sur la méthode
color-2 : couleur secondaire du dégradé
color-3 : couleur Tertiaire de fond de nouveau
color-4 : couleur de la typo sur fond foncé, du fond du header,
		  du fond de la méthode (fonctionnement) et du fond des cartes de restaurants
color-5 : couleur de la typo du logo, des textes et titres en général
color-6 : couleur de la typo de présentation et des picto de la méthode
color-7 : couleur de fond de la présentation, des cards étapes de la méthode
		  et du fond de la partie restaurants
color-8 : couleur du fond de la recherche de ville
color-9 : couleur des ombres portées des boutons, des cards
color-10 : couleur de l'ombre portée (plus foncée) pour le hover des boutons 
$color-11 : couleur du fond des cartes étapes de la méthode (fonctionnement) en hover
color-12 : couleur de la typo de la carte new (nouveau)
color-13 : couleur du fond du footer
*/

    $color-1:#9356DC;
    $color-2:#FF79DA;
    $color-3:#99E2D0;
    $color-4:#FFF;
    $color-5:#000;
    $color-6:hsl(0, 0%, 50%);
    $color-7:hsl(0, 0%, 96%);
    $color-8:hsl(0, 0%, 92%);
    $color-9:hsla(0, 0%, 30%, 0.4);
    $color-10:hsla(0, 0%, 30%, 0.9);
    $color-11:hsl(267, 66%, 95%);
    $color-12:hsl(165, 56%, 35%);
    $color-13:hsl(0, 0%, 30%);


/*variables fonts*/
$font-logo:"Shrikhand", cursive;
$font-text:'Roboto';

/*variables couleurs linear-gradient*/
$from:$color-2;
$to:$color-1;

/*variables shadows*/
$shadow: 0px 1px 2px 0px $color-9, 0px 2px 6px 2px $color-9;
$dark-shadow: 0px 1px 2px 0px $color-9, 0px 2px 6px 2px $color-10;
$search-shadow:
hsla(240, 30%, 28%, 0.25) 0px 50px 100px -20px,
hsla(0, 0%, 0%, 0.3) 0px 30px 60px -30px,
hsla(210, 73%, 15%, 0.35) 0px -2px 6px 0px;

